<div class="card shadow p-4 border-0">
  <h3 class="text-primary mb-4">Módulo de Inventario</h3>

  <div class="row g-3 bg-light p-3 rounded mb-4 shadow-sm">
    <div class="col-md-3">
      <label class="form-label fw-bold">Producto</label>
      <input type="text" class="form-control" [(ngModel)]="prod.nombre" placeholder="Nombre">
    </div>
    <div class="col-md-2">
      <label class="form-label fw-bold">Precio (Bs)</label>
      <input type="number" class="form-control" [(ngModel)]="prod.precio">
    </div>
    <div class="col-md-2">
      <label class="form-label fw-bold">Stock</label>
      <input type="number" class="form-control" [(ngModel)]="prod.stock">
    </div>
    <div class="col-md-3">
      <label class="form-label fw-bold">Categoría</label>
      <select class="form-select" [(ngModel)]="prod.idCat">
        <option value="">Seleccione...</option>
        <option *ngFor="let c of listaCats" [value]="c.id">{{c.nombre}}</option>
      </select>
    </div>
    <div class="col-md-2 d-flex align-items-end">
      <button class="btn btn-success w-100 fw-bold" (click)="guardar()">GUARDAR</button>
    </div>
  </div>

  <table class="table table-hover align-middle">
    <thead class="table-dark">
      <tr>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Stock</th>
        <th>Categoría</th>
        <th class="text-center">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of listaProds">
        <td>{{ p.nombre }}</td>
        <td>{{ p.precio }} Bs</td>
        <td>
          <span [class]="p.stock > 5 ? 'badge bg-success' : 'badge bg-danger'">
            {{ p.stock }} u.
          </span>
        </td>
        <td><span class="badge bg-info text-dark">{{ obtenerNombreCat(p.idCat) }}</span></td>
        <td class="text-center">
          <button class="btn btn-warning btn-sm me-2" (click)="editar(p)">Editar</button>
          <button class="btn btn-danger btn-sm" (click)="eliminar(p.id)">Borrar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>